.card {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 2px dashed #e2e2e2;
  border-radius: 25px;
}

.card div {
    display: flex;
    align-items: center;
}

.card img {
  width: 70px;
  height: 70px;
}

.card button {
  width: 35px;
  height: 35px;
  line-height: 15px;
  background-color: #fe5d42;
  color: #fff;
  font-size: 1.6rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.card span {
  margin: 0 10px;
}
